<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Home</title>
</head>
<body>
  <h2>THIS IS THE USER PAGE</h2>
  <h3>Username: <span th:text="${loggedInUser.username}"></span></h3>
  <table style="border: solid">
      <thead>
      <tr>
          <th>Number</th>
          <th>Type</th>
          <th>Balance</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="account: ${accounts}">
          <td th:text="${account.getAccountNumber()}">CPTS101</td>
          <td th:text="${account.getAccountType()}">Intro to EECS</td>
          <td th:text="${account.getBalance()}">subu</td>
      </tr>
      </tbody>
  </table>
  <a href="/logout">Logout</a>
</body>
</html>